<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - The Visionaries Code 404</title>

    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TheVisionariesCode404.styles.css" asp-append-version="true" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg sticky-top" style="background-color:lightskyblue;">
            <div class="container">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <a class="navbar-brand" asp-controller="Home" asp-action="Index">
                    <img src="@Url.Content("~/images/logo.png")" alt="Logo" style="height: 60px;">
                </a>

                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Movie" asp-action="Index">Movies</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Admin</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" asp-controller="Customer" asp-action="Create">Add Customer</a></li>
                                <li><a class="dropdown-item" asp-controller="Movie" asp-action="AddMovie">Add Movie</a></li>
                                <li><a class="dropdown-item" asp-controller="Movie" asp-action="ListMovies">Edit Movie</a></li>
                                <li><hr class="dropdown-divider" /></li>
                                <li><a class="dropdown-item" asp-controller="Customer" asp-action="Index">All Customers</a></li>
                                <li><a class="dropdown-item" asp-controller="Customer" asp-action="AllOrdersEveryCustomer">All Orders</a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Cart" asp-action="ShoppingCart">
                                <i class="fa fa-shopping-cart" style="font-size:23px"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main class="content pb-3">
            @RenderBody()
        </main>
    </div>

    <footer>
        <p>All rights reserved. The Visionaries Code 404 Movie Shop</p>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
