@model The_visionaries_Code_404.Models.OrderMovieViewModel

<tr>
    <td>
        <div class="d-flex align-items-center">
            <span>@Model.Title</span>
        </div>
    </td>
    <td>@Model.Price.ToString("C")</td>
    <td>@Model.Quantity</td>
    <td>@Model.TotalPrice.ToString("C")</td>
</tr>
