<div class="row fw-bold tbMargin">
    <div class="col-2">
        Name
    </div>
    <div class="col-2">
        Director
    </div>
    <div class="col-2">
        Release year
    </div>
    <div class="col-2">
        Price
    </div>
    <div class="col-2">
        Poster
    </div>
</div>