@model IEnumerable<The_visionaries_Code_404.Data.Movie>

@{
    ViewData["Title"] = "Movie List";
}

<center><h2 class="fw-bold">Edit Movies</h2></center>

<table class="table table-striped">
    <tbody>
        <partial name="_ListMovies" model="Model" />

    </tbody>
</table>

